# Qt Creator / qmake
*.pro.user
*.pri.user
*.qbs.user
*.qmake.stash
*.autosave

# Build artifacts
build-*/
debug*/
release*/
Phammemquanlysv/build/

*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
*.exe
Makefile

# Qt generated
moc_*
ui_*.h
qrc_*.cpp

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/
compile_commands.json
*.ninja
qtsettings.cmake

# Others
*.log
.DS_Store

# Local project folders to ignore
Phammemquanlysv/
